body{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
    background:grey;
}

.suc{
    color:rgb(173, 255, 47);;
    text-decoration: underline 3px;
}